<a href="https://colab.research.google.com/github/MachineLearnia/Python-Machine-Learning/blob/master/17%20-%20Pandas%20(les%20Bases).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 17/30 Pandas (les Bases) Et Analyse du Titanic

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 1. Charger vos données dans un DataFrame Pandas

https://www.youtube.com/redirect?q=http%3A%2F%2Fbiostat.mc.vanderbilt.edu%2Fwiki%2Fpub%2FMain%2FDataSets%2Ftitanic3.xls&redir_token=IS7fnKxJQSAQBgyL_W_n-Yg2XZJ8MTU4NzkxOTk0MkAxNTg3ODMzNTQy&v=zZkNOdBWgFQ&event=video_description


Les options les plus courantes :
- read_csv
- read_excel

In [16]:
data = pd.read_excel('Dataset/titanic.xls')

In [ ]:
data.shape
data.head()

In [ ]:
data.describe()

## 2. Nettoyer votre Dataset avec drop(), dropna() et fillna()

In [ ]:
data = data.drop(['name', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis=1)

In [ ]:
data = data.dropna(axis=0)
data.shape

In [ ]:
data['age'].hist()

## 3. Groupby() et value_counts()

In [ ]:
data.groupby(['sex']).mean()

In [ ]:
data.groupby(['sex', 'pclass']).mean()

In [ ]:
data['pclass'].value_counts()

In [ ]:
data[data['age'] < 18]['pclass'].value_counts()

## 4. Exercice
- Créer des catégories d'ages avec la fonction map() de pandas
- Créer des catégories de genres avec cat.codes

In [ ]:
def category_ages(age):
    if age <= 20:
        return '<20 ans'
    elif (age > 20) & (age <= 30):
        return '20-30 ans'
    elif (age > 30) & (age <= 40):
        return '30-40 ans'
    else:
        return '+40 ans'

In [ ]:
data['age'] = data['age'].map(category_ages)

In [ ]:
data['sex'].astype('category').cat.codes