In [ ]:
import time

#### List Comprhention

In [ ]:
start = time.time()

liste_1 = []
for i in range(100000) :
	liste_1.append(i**2)

end = time.time()
print(end-start)
print(liste_1)

In [ ]:
start = time.time()

liste_2 = [i**2 for i in range(100000)]

end = time.time()
print(end-start)
print(liste_2)

In [ ]:
#Nested List

list_3 = [[i+(j*3) for i in range(3)] for j in range(5)]
print(list_3)

#### Dict Comprhention

In [ ]:
dico_prenom1 = {
	0:'Pierre',
	1:'Jean',
	2:'Julie',
	3:'Sophie'    
}
print(dico_prenom1)

prenom = ('Pierre', 'Jean', 'Julie', 'Sophie')
dico_prenom2 = { k:v for k, v in enumerate(prenom) }
print(dico_prenom2)

age = (12,34,62,42)
dico_prenom3= {prenom:age for prenom, age in zip(prenom, age)}
print(dico_prenom3)

dico_prenom4= {prenom:age for prenom, age in zip(prenom, age) if age>18}
print(dico_prenom4)

#### Tupple Comprhention

In [78]:
tuple_1 = tuple((i**2 for i in range (10)))
tuple_1

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

#### exo

In [80]:
exo = { k:k**2 for k in range(20)}
print(exo)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}