#### Fonctions natives
https://docs.python.org/fr/3.10/library/functions.html

In [3]:
print( abs(-3) )

3

In [4]:
print ( float(3.33) )

3.33

In [5]:
list_1 = [ i-10 for i in range(20) if i<15]
print(list_1)

print ( max(list_1))
print ( min(list_1))

print ( len(list_1))

print ( sum(list_1))

print ( all(list_1))
print ( any(list_1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4]
4
-10
15
-45
False
True

In [6]:
x = 10
print(type(x))
x = str(x)
print(type(x))

y = "20"
y = int(y)
print(y)
print(type(y))


z = 10
print(z)
print(type(z))
z = float(z)
print(z)
print(type(z))

<class 'int'>
<class 'str'>
20
<class 'int'>
10
<class 'int'>
10.0
<class 'float'>

In [7]:
list_1 = [1,2,3,4]
tuple_1 = tuple(list_1)
print(tuple_1)
print(list(tuple_1))

dico = {
	"bananes":10,
	"pommes":100,
	"pores":10000
}
print(list(dico.keys()))
print(tuple(dico.values()))

(1, 2, 3, 4)
[1, 2, 3, 4]
['bananes', 'pommes', 'pores']
(10, 100, 10000)

In [8]:
print(bin(15))
print(bytes(15))
print(hex(15))
print(oct(15))

0b1111
b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'
0xf
0o17

In [9]:
nb = int(input("Entrez un nombre"))
print(nb*10)

200

In [10]:
x = 25
ville = ('Paris','Londres')

message = "La temperature est de {} degC a {}".format(x, ville[0])
print(message)
message = f"La temperature est de {x-7} degC a {ville[1]}"
print(message)

dico_ville = { 'ville_'+str(i+1):ville[i] for i in range(2)}
print(dico_ville)
for i in range(1, 3) :
    print(dico_ville["ville_{}".format(i)])

La temperature est de 25 degC a Paris
La temperature est de 18 degC a Londres
{'ville_1': 'Paris', 'ville_2': 'Londres'}
Paris
Londres

#### open write read close with open

In [10]:
file = open('fichier1.txt', 'w')
file.write("Bonjour")
file.close()

file = open('fichier1.txt', 'r')
print(file.read())
file.close()

with open('fichier2.txt', 'a+') as f :
	f.write('yo yo\n')
	f.seek(0)
	print(f.read())

Bonjour
yo yoyo yoyo yoyo yoyo yoyo yoyo yoyo yoyo yoyo yoyo yoyo yo
yo yo
yo yo
yo yo
yo yo
yo yo
yo yo
yo yo
yo yo
yo yo